In [4]:
import pandas as pd
import datetime as dt
import numpy as np

### 데이터 불러오기

In [3]:
data = pd.read_csv("datasets/archive/ml-100k/u.data", sep = '\t', header = None)
col_name = ['user_Id', 'iten_Id', 'rating', 'timestamp']
data.columns = col_name

# timestamp 제거
data = data[['user_Id', 'iten_Id', 'rating']].astype(int)
data

       user_Id  iten_Id  rating
0          196      242       3
1          186      302       3
2           22      377       1
3          244       51       2
4          166      346       1
...        ...      ...     ...
99995      880      476       3
99996      716      204       5
99997      276     1090       1
99998       13      225       2
99999       12      203       3

[100000 rows x 3 columns]

In [ ]:
# MF CLASS
class MF():
    def __init__(self, data, K, alpha, beta, iterations, verbose = True):
        self.R = np.array(data)
        self.num_users, self.num_items = np.shape(self.R) # rating
        self.K = K # latent factor의 수
        self.alpha = alpha # learning rate
        self.beta = beta # regularize coefficient
        self.iterations = iterations # SGD 계산에서의 반복 횟수
        self.verbose = verbose # SGD의 중간 학습과정을 출력할 것인가